@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
    --bg-grey: #fafafa;
    --bg-white: #ffffff;
    --border-color: #bdbdbd;
    --color-deepblue: #3b5999;
    --color-lightblue: #0095f6;
}

ul {
    list-style: none;
}

h1 {
    font-family: "Lobster", cursive;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.id {
    font-size: 14px;
    font-weight: bold;
}
